Repository fernando-mf/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: github, infrastructure, common, design, docs, functions, fastlane, mobile, ui, web

.github/labeler.yml:

github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
common:
  - packages/common/**/*
design:
  - packages/design/**/*
docs:
  - packages/docs/**/*
functions:
  - packages/functions/**/*
fastlane:
  - packages/mobile/**/*
mobile:
  - packages/mobile/**/*
ui:
  - packages/ui/**/*
web:
  - packages/web/**/*

Update yarn.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 change node 14.0.0
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

fix: 🐛 refactor next tsconfig
  .github/workflows/auto-approve.yml
  .github/workflows/lgtm.yml
  packages/ui/tsconfig.json
  packages/web/tsconfig.json
Labels: github, ui, web

chore: 🤖 change babel config
  packages/ui/tsconfig.json
  packages/web/.babel.config.js
  packages/web/.babelrc
  packages/web/next.config.js
  packages/web/tsconfig.json
Labels: ui, web

chore: 🤖 change to babelrc
  packages/web/.babel.config.js
  packages/web/.babelrc
Labels: web

chore: 🤖 configure baseline json
  packages/web/next.config.js
Labels: web

[sentrei-auto-fix]
  packages/web/next.config.js
Labels: web

chore: 🤖 add bundlestats action
  .github/workflows/web.yml
Labels: github

chore: 🤖 add relative ci
  .github/workflows/web.yml
  packages/web/package.json
  packages/web/relativeci.config.js
  yarn.lock
Labels: github, web

chore: 🤖 add webpack stats
  packages/web/next.config.js
  packages/web/package.json
  packages/web/relativeci.config.js
  yarn.lock
Labels: web

chore: 🤖 add relative ci
  README.md
  packages/web/relativeci.config.js
Labels: web

chore: 🤖 add webpack stats to dev
  packages/web/package.json
Labels: web

chore: 🤖 refactor babel config
  packages/web/.babelrc
  packages/web/babel.config.js
Labels: web

chore: 🤖 build dist tsconfig
  packages/ui/package.json
  packages/ui/tsconfig.json
Labels: ui

chore: 🤖 refactor tsconfig relative
  packages/ui/package.json
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  tsconfig.json
  yarn.lock
Labels: ui, web

[sentrei-auto-fix]
  packages/ui/package.json
  packages/web/next-env.d.ts
Labels: ui, web

chore: 🤖 add relative imports
  packages/ui/tsconfig.json
  packages/web/src/pages/about.tsx
  packages/web/tsconfig.json
Labels: ui, web

chore: 🤖 res
  packages/web/next-env.d.ts
Labels: web

chore: 🤖 add yarn bootstrap
  .github/workflows/ui.yml
  .github/workflows/web.yml
  Dockerfile
  package.json
Labels: github

chore: 🤖 add lerna bootstrap
  .github/workflows/ui.yml
  .github/workflows/web.yml
  Dockerfile
  package.json
Labels: github

chore: 🤖 change bootstrap run
  .github/workflows/ui.yml
  .github/workflows/web.yml
  Dockerfile
  package.json
Labels: github

chore: 🤖 restore dockerfile build
  Dockerfile
Labels: none

chore: 🤖 add unsplash cmd
  .github/workflows/ui.yml
  .github/workflows/web.yml
  Dockerfile
  package.json
Labels: github

chore: 🤖 add unsplash cmd
  Dockerfile
Labels: none

chore: 🤖 add yarn publish
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Labels: web

chore: 🤖 add next config
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Labels: web

fix: 🐛 upgrade node version
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  Makefile
Labels: github

chore: 🤖 add pr title
  .github/workflows/auto-approve.yml
Labels: github

chore: 🤖 add proper issue number
  .github/workflows/auto-approve.yml
Labels: github

feat: 🎸 refactor tsconfig nextjs
  packages/web/next.config.js
  packages/web/package.json
  packages/web/tsconfig.json
  yarn.lock
Labels: web

fix: 🐛 add faster docker
  .github/workflows/deploy.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  lerna.json
  package.json
Labels: github

[sentrei-auto-fix]
  package.json
Labels: none

fix: 🐛 add watch cmd
  package.json
  packages/ui/package.json
Labels: ui

chore: 🤖 update dockerfile perf
  Dockerfile
Labels: none
