Repository fernando-mf/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/design, packages/docs, packages/functions, packages/fastlane, packages/mobile, packages/ui, packages/web

chore: 🤖 remote git ref
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add fetch
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add rev
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add origin
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add pull
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add proper pull
  .github/workflows/ui.yml
Labels: github

chore: 🤖 update
  .github/workflows/ui.yml
Labels: github

chore: 🤖 update
  .github/workflows/ui.yml
Labels: github

chore: 🤖 update
  .github/workflows/ui.yml
Labels: github

chore: 🤖 output
  .github/workflows/ui.yml
Labels: github

chore: 🤖 update ui gha
  .github/workflows/ui.yml
  packages/ui/package.json
Labels: github, packages/ui, packages/web

feat: 🎸 add pioneer package
  infrastructure/modules/dns/pioneer.tf
  packages/pioneer/.firebaserc
  packages/pioneer/firebase.json
  packages/pioneer/package.json
  packages/pioneer/src/.vuepress/config.js
  packages/pioneer/src/.vuepress/public/banner.png
  packages/pioneer/src/.vuepress/public/home.png
  packages/pioneer/src/.vuepress/public/logo.png
  packages/pioneer/src/.vuepress/styles/palette.styl
  packages/pioneer/src/README.md
  packages/pioneer/src/mission/README.md
  yarn.lock
Labels: infrastructure

[sentrei-auto-fix]
  packages/pioneer/src/.vuepress/config.js
Labels: none

chore: 🤖 working ui lib
  .github/workflows/mobile.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Labels: github

chore: 🤖 uiw
  .github/workflows/ui.yml
Labels: github

chore: 🤖 update
  .github/workflows/ui.yml
Labels: github

fix: 🐛 fetch
  .github/workflows/ui.yml
Labels: github

chore: 🤖 change fetch quiet
  .github/workflows/ui.yml
Labels: github

chore: 🤖 disable codecov status
  .codecov.yml
Labels: none

chore: 🤖 off
  .codecov.yml
Labels: none

chore: 🤖 update
  .codecov.yml
Labels: none

chore: 🤖 fix lint error
  packages/ui/package.json
  packages/ui/src/components/Landing/Landing.tsx
Labels: packages/ui, packages/web

[ImgBot] Optimize images
  assets/figma-badge.jpeg
  packages/blog/content/posts/en/2020-05-04/images/hero.jpg
  packages/design/src/.vuepress/public/upload/photo-1490013616775-3ca8865fb129.jpeg
  packages/pioneer/src/.vuepress/public/banner.png
  packages/pioneer/src/.vuepress/public/home.png
  packages/pioneer/src/.vuepress/public/logo.png
Labels: packages/blog, packages/design

fix: 🐛 add yarn packages
  packages/ui/package.json
  packages/web/package.json
  yarn.lock
Labels: packages/ui, packages/web

fix: 🐛 working gha ui
  .github/workflows/ui.yml
Labels: github

fix: 🐛 gha cache working
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Labels: github

fix: 🐛 add pioneer release
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: github

fix: 🐛 environment variable for delivery to lowercase
  .github/workflows/deliver.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: github

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/common/**/*
packages/design:
  - packages/design/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/functions/**/*
packages/fastlane:
  - packages/mobile/**/*
packages/mobile:
  - packages/mobile/**/*
packages/ui:
  - packages/ui/**/*
packages/web:
  - packages/ui/**/*
  - packages/web/**/*
