Repository fernando-mf/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: design, github, infrastructure, packages/blog, packages/common, packages/design, packages/docs, packages/functions, packages/fastlane, packages/mobile, packages/ui, packages/web

chore: 🤖 add module alias
  packages/web/next.config.js
  packages/web/src/pages/_app.tsx
  packages/web/tsconfig.json
Labels: packages/web

[sentrei-auto-fix]
  packages/web/tsconfig.json
Labels: packages/web

chore: 🤖 change build path
  packages/web/tsconfig.json
Labels: packages/web

chore: 🤖 add issue assign
  packages/web/package.json
  yarn.lock
Labels: packages/web

chore: 🤖 add issue assign
  .github/workflows/issue.yml
Labels: github

feat: 🎸 add nprogress loading
  packages/web/package.json
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/progress.scss
  packages/web/src/utils/progress.ts
  yarn.lock
Labels: packages/web

chore: 🤖 change to nprogress
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/nprogress.scss
  packages/web/src/utils/nprogress.ts
Labels: packages/web

chore: 🤖 add blog json
  README.md
Labels: none

fix: 🐛 add navbar for mui component
  packages/ui/src/components/NavBar/NavBar.spec.tsx
  packages/ui/src/components/NavBar/NavBar.stories.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/ui/src/components/NavBar/index.ts
Labels: packages/ui, packages/web

chore: 🤖 refactor index ts
  packages/ui/src/index.ts
Labels: packages/ui, packages/web

chore: 🤖 add css baseline
  packages/web/src/pages/_app.tsx
Labels: packages/web

chore: 🤖 add responsive typography
  packages/ui/src/containers/Theme/Theme.tsx
Labels: packages/ui, packages/web

chore: 🤖 add proper footer
  packages/ui/src/components/Footer/Footer.spec.tsx
  packages/ui/src/components/Footer/Footer.stories.tsx
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Footer/index.ts
  packages/ui/tsconfig.json
  packages/web/tsconfig.json
Labels: packages/ui, packages/web

chore: 🤖 add release ui
  .github/workflows/release.yml
Labels: github

chore: 🤖 add footer and navbar components
  packages/ui/tsconfig.json
  packages/web/src/pages/index.tsx
Labels: packages/ui, packages/web

[sentrei-auto-fix]
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/NavBar/NavBar.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/index.tsx
  packages/web/tsconfig.json
Labels: packages/ui, packages/web

chore: 🤖 add next config
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  packages/web/next.config.js
Labels: packages/ui, packages/web

chore: 🤖 upgrade next config
  packages/web/next.config.js
Labels: packages/web

chore: 🤖 add return type
  packages/ui/src/components/Footer/Footer.tsx
Labels: packages/ui, packages/web

[sentrei-auto-fix]
  packages/ui/.storybook/webpack.config.js
Labels: packages/ui, packages/web

chore: 🤖 add module name mapper for jest
  packages/ui/jest.config.js
Labels: packages/ui, packages/web

chore: 🤖 add test config
  packages/ui/tsconfig.test.json
Labels: packages/ui, packages/web

[sentrei-auto-fix]
  packages/ui/jest.config.js
Labels: packages/ui, packages/web

[sentrei-auto-fix]
  packages/ui/jest.config.js
Labels: packages/ui, packages/web

chore: 🤖 add compiler options
  packages/ui/tsconfig.test.json
Labels: packages/ui, packages/web

fix: 🐛 add landing component
  packages/ui/src/components/Footer/Footer.tsx
  packages/ui/src/components/Landing/Landing.spec.tsx
  packages/ui/src/components/Landing/Landing.stories.tsx
  packages/ui/src/components/Landing/Landing.tsx
  packages/ui/src/components/Landing/index.ts
  packages/ui/src/index.ts
  packages/web/src/pages/index.tsx
Labels: packages/ui, packages/web

chore: 🤖 add company readme
  README.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

chore: 🤖 set dist tag
  .github/workflows/release.yml
  package.json
Labels: github

chore: 🤖 no pr status
  packages/ui/regconfig.json
Labels: packages/ui, packages/web

fix: 🐛 migrate to fetch-depth 0 github actions
  .github/workflows/deploy.yml
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Labels: github

chore: 🤖 add head ref
  .github/workflows/ui.yml
Labels: github

chore: 🤖 add head ref
  .github/workflows/ui.yml
Labels: github

fix: 🐛 add actual and expected in reg via
  .github/workflows/ui.yml
  packages/ui/package.json
  packages/ui/regconfig.json
  yarn.lock
Labels: github, packages/ui, packages/web

chore: 🤖 change to expected key
  .github/workflows/ui.yml
Labels: github

chore: 🤖 config
  .github/workflows/ui.yml
  packages/ui/regconfig.json
Labels: github, packages/ui, packages/web

chore: 🤖 add reg-suit cmd
  .github/workflows/ui.yml
  package.json
  packages/ui/package.json
  yarn.lock
Labels: github, packages/ui, packages/web

chore: 🤖 rev
  .github/workflows/ui.yml
Labels: github

fix: 🐛 ses
  .github/workflows/ui.yml
Labels: github

chore: 🤖 ref
  .github/workflows/ui.yml
Labels: github

.github/labeler.yml:

design:
  - design/**/*
github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
packages/blog:
  - packages/blog/**/*
packages/common:
  - packages/common/**/*
packages/design:
  - packages/design/**/*
packages/docs:
  - packages/docs/**/*
packages/functions:
  - packages/functions/**/*
packages/fastlane:
  - packages/mobile/**/*
packages/mobile:
  - packages/mobile/**/*
packages/ui:
  - packages/ui/**/*
packages/web:
  - packages/ui/**/*
  - packages/web/**/*
