Repository fernando-mf/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: github, infrastructure, common, design, docs, functions, fastlane, mobile, ui, web

fix: 🐛 working gha release
  .github/workflows/release.yml
Labels: github

fix: 🐛 lgtm
  .github/workflows/lgtm.yml
Labels: github

fix: 🐛 client payload lgtm
  .github/workflows/lgtm.yml
Labels: github

chore: 🤖 automerge
  .github/workflows/auto-merge.yml
Labels: github

chore: 🤖 add fix eslint
  .eslintrc.json
Labels: none

chore: 🤖 remove prettier rule
  .eslintrc.json
Labels: none

chore: 🤖 add terraform cloud
  infrastructure/modules/github/sentrei.tf
Labels: infrastructure

chore: 🤖 fix setup ts
  .eslintrc.json
  packages/ui/src/Button/Button.spec.tsx
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/index.ts
  packages/ui/src/Copyright/Copyright.spec.tsx
  packages/ui/src/Copyright/Copyright.stories.tsx
  packages/ui/src/Copyright/Copyright.tsx
  packages/ui/src/Copyright/index.ts
  packages/ui/src/Link/Link.spec.tsx
  packages/ui/src/Link/Link.stories.tsx
  packages/ui/src/Link/Link.tsx
  packages/ui/src/Link/index.ts
  packages/ui/src/ProTip/ProTip.spec.tsx
  packages/ui/src/ProTip/ProTip.stories.tsx
  packages/ui/src/ProTip/ProTip.tsx
  packages/ui/src/ProTip/index.ts
  packages/ui/src/Theme/Theme.tsx
  packages/ui/src/Theme/index.ts
  packages/ui/src/__tests__/setupTests.ts
  packages/ui/src/index.ts
  packages/web/next.config.js
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Labels: ui, web

chore: 🤖 add eslintrc module
  .eslintrc.json
  packages/web/cypress/support/index.js
Labels: web

[sentrei-auto-fix]
  .eslintrc.json
  packages/ui/src/Button/Button.spec.tsx
  packages/ui/src/Button/Button.stories.tsx
  packages/ui/src/Button/index.ts
  packages/ui/src/Copyright/Copyright.spec.tsx
  packages/ui/src/Copyright/Copyright.stories.tsx
  packages/ui/src/Copyright/Copyright.tsx
  packages/ui/src/Copyright/index.ts
  packages/ui/src/Link/Link.spec.tsx
  packages/ui/src/Link/Link.stories.tsx
  packages/ui/src/Link/Link.tsx
  packages/ui/src/Link/index.ts
  packages/ui/src/ProTip/ProTip.spec.tsx
  packages/ui/src/ProTip/ProTip.stories.tsx
  packages/ui/src/ProTip/ProTip.tsx
  packages/ui/src/ProTip/index.ts
  packages/ui/src/Theme/Theme.tsx
  packages/ui/src/Theme/index.ts
  packages/ui/src/__tests__/setupTests.ts
  packages/ui/src/index.ts
  packages/web/next.config.js
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/about.tsx
  packages/web/src/pages/index.tsx
Labels: ui, web

chore: 🤖 fix next config
  .eslintrc.json
Labels: none

chore: 🤖 edit auto merge
  .github/workflows/auto-merge.yml
Labels: github

chore: 🤖 refactor mergify config
  .mergify/config.yml
Labels: none

chore: 🤖 remove auto merge
  .github/workflows/auto-merge.yml
Labels: github

feat: 🎸 add tm modules
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Labels: web

chore: 🤖 working next config
  packages/web/.babel.config.js
  packages/web/.babelrc
  packages/web/next.config.js
  packages/web/package.json
  packages/web/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: web

[sentrei-auto-fix]
  packages/web/tsconfig.json
  tsconfig.json
Labels: web

chore: 🤖 works bundle stats
  packages/web/next.config.js
  packages/web/package.json
  yarn.lock
Labels: web

chore: 🤖 activated json option
  packages/web/next.config.js
Labels: web

chore: 🤖 add bundle stats
  .github/workflows/web.yml
Labels: github

[sentrei-auto-fix]
  .github/workflows/web.yml
Labels: github

chore: 🤖 changed to master
  .github/workflows/web.yml
Labels: github

chore: 🤖 add changed id
  .github/workflows/web.yml
Labels: github

chore: 🤖 web
  .github/workflows/web.yml
Labels: github

chore: 🤖 add true invokation
  .github/workflows/mobile.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Labels: github

chore: 🤖 tsconfiig no web
  .github/workflows/web.yml
  packages/ui/tsconfig.json
Labels: github, ui

chore: 🤖 add publiish
  .github/workflows/web.yml
Labels: github

chore: 🤖 add yarn cache
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 refactor web gha
  .github/workflows/web.yml
Labels: github

chore: 🤖 add yarn release
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 babelrc
  packages/web/.babel.config.js
  packages/web/.babelrc
Labels: web

chore: 🤖 add node modules
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 refactor gha settings
  .github/workflows/auto-approve.yml
  .github/workflows/figma.yml
  .github/workflows/gcr.yml
  .github/workflows/sync.yml
  .mergify/config.yml
Labels: github

chore: 🤖 settings for sentrei
  infrastructure/modules/github/sentrei.tf
Labels: infrastructure

chore: 🤖 actions cache master
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 remove
  packages/web/package.json
Labels: web

chore: 🤖 yarn
  yarn.lock
Labels: none

chore: 🤖 yarn cache proper
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 add deployment token
  .github/workflows/deploy.yml
Labels: github

fix: 🐛 pipenv nodeenv version
  Makefile
  Pipfile
  Pipfile.lock
Labels: none

.github/labeler.yml:

github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
common:
  - packages/common/**/*
design:
  - packages/design/**/*
docs:
  - packages/docs/**/*
functions:
  - packages/functions/**/*
fastlane:
  - packages/mobile/**/*
mobile:
  - packages/mobile/**/*
ui:
  - packages/ui/**/*
web:
  - packages/web/**/*
