Repository fernando-mf/sentrei, changes with the labels that .github/labeler.yml gives for each.
All labels: github, infrastructure, common, design, docs, functions, fastlane, mobile, ui, web

.github/labeler.yml:

github:
  - .github/**/*
infrastructure:
  - infrastructure/**/*
common:
  - packages/common/**/*
design:
  - packages/design/**/*
docs:
  - packages/docs/**/*
functions:
  - packages/functions/**/*
fastlane:
  - packages/mobile/**/*
mobile:
  - packages/mobile/**/*
ui:
  - packages/ui/**/*
web:
  - packages/web/**/*

chore: 🤖 add react helmet
  packages/web/package.json
  yarn.lock
Labels: web

chore: 🤖 needs ready-to-merge label
  .github/workflows/enforce.yml
Labels: github

chore: 🤖 add ready merge
  .github/workflows/enforce.yml
Labels: github

Update enforce.yml
  .github/workflows/enforce.yml
Labels: github

Update enforce.yml
  .github/workflows/enforce.yml
Labels: github

Update enforce.yml
  .github/workflows/enforce.yml
Labels: github

chore: 🤖 add enforce dispatch
  .github/chatops.json
  .github/workflows/chatops.yml
  .github/workflows/deliver.yml
  .github/workflows/enforce.yml
Labels: github

chore: 🤖 remove lgtm action
  .github/workflows/chatops.yml
Labels: github

chore: 🤖 add proper pr
  .github/workflows/enforce.yml
Labels: github

chore: 🤖 add repo owner
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/lgtm.yml
Labels: github

Revert "chore: 🤖 remove lgtm action"
  .github/workflows/chatops.yml
Labels: github

chore: 🤖 revert to context
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/lgtm.yml
Labels: github

chore: 🤖 add deploy labels
  .github/workflows/chatops.yml
  .github/workflows/deploy.yml
Labels: github

chore: 🤖 remove enforcer label
  .github/chatops.json
  .github/workflows/chatops.yml
  .github/workflows/enforce.yml
  infrastructure/modules/github/sentrei.tf
Labels: github, infrastructure

chore: 🤖 rme
  infrastructure/modules/github/sentrei.tf
Labels: infrastructure

chore: 🤖 change name
  .github/workflows/enforcer.yml
Labels: github

[sentrei-auto-fix]
  .github/chatops.json
Labels: github

chore: 🤖 add enforcer pr
  .mergify/config.yml
Labels: none

chore: 🤖 name is sentrei
  .mergify/config.yml
Labels: none

chore: 🤖 change to access
  .github/workflows/auto-approve.yml
  .github/workflows/deploy.yml
  .github/workflows/lgtm.yml
Labels: github

chore: 🤖 change to GITHUB_TOKEN
  .github/workflows/lgtm.yml
Labels: github

chore: 🤖 add github token
  .github/workflows/auto-approve.yml
Labels: github

chore: 🤖 add multi theme provider
  packages/web/src/pages/_app.tsx
Labels: web

chore: 🤖 add correct cache
  .github/workflows/deploy.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
  packages/web/src/types/styled.d.ts
Labels: github, web

chore: 🤖 remove all types
  packages/web/src/types/styled.d.ts
Labels: web

chore: 🤖 change 'true' to true
  .github/workflows/mobile.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
Labels: github

chore: 🤖 change name Enforcer
  .mergify/config.yml
Labels: none

chore: 🤖 add web deploy
  packages/ui/src/Copyright/Copyright.tsx
  packages/web/src/pages/about.tsx
Labels: ui, web

chore: 🤖 add enforcer ghs
  .github/workflows/enforcer.yml
Labels: github

[sentrei-auto-fix]
  .github/workflows/enforcer.yml
Labels: github

chore: 🤖 change to auto merge
  .github/workflows/auto-merge.yml
Labels: github

[sentrei-auto-fix]
  .github/workflows/enforcer.yml
Labels: github

chore: 🤖 add enforcer ghs
  .github/workflows/enforcer.yml
Labels: github

chore: 🤖 change to auto merge
  .github/workflows/auto-merge.yml
Labels: github

chore: 🤖 merge
  .github/workflows/auto-merge.yml
  .github/workflows/chatops.yml
Labels: github

chore: 🤖 add lgtm and approve
  .github/workflows/auto-approve.yml
  .github/workflows/lgtm.yml
Labels: github

chore: 🤖 update label mergify
  .mergify/config.yml
Labels: none

[sentrei-auto-fix]
  .github/workflows/auto-approve.yml
Labels: github

chore: 🤖 add proper yarn cache path
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/ui.yml
  .github/workflows/web.yml
  .github/workflows/yarn.yml
Labels: github

chore: 🤖 update auto-merge
  .github/workflows/auto-merge.yml
Labels: github
